*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background-color: #f0f0f0;
  --text-color: #000000;
  --primary-color: #9083D5;
  --secondary-color: #F0A500;
  --font-family: 'Poppins', sans-serif;
  --font-weight: 400;
  --font-size: 1rem;
  --btn-text-color: #fff;
  --btn-bg: var(--primary-color);
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6{
  font-weight: var(--font-weight);
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
.title{
text-align: center;
background-color: var(--primary-color);
}
.description{
  text-align: center;
  color: var(--text-color);
}
header{
  background-color: var(--secondary-color);
  padding: 20px;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul{
  display: flex;
  gap: 1rem;
}